/*This is my new stylesheet*/

p {
 color: #253DB6;
 background-color: #FAEEEE;
}
<!-- HTML -->
/* CSS */

<p>
 <a href="themainpage.html">Program Description</a>
 <a href="thesecondpage.html">Program Description</a>
 <a href="thethirdpage.html">Program Description</a>
</p>
/* CSS */
a {
 color: #F63008;
}

a:link {
 color: #F63008;
}

a:visited {
 color: #07FC28;
}

a:active {
 color: #FC0707;
}

a:hover {
 color: #F6F321;
}

#specialid {
 color: #591151;
 background-color: #F6A708
}

.specialp {
 color: #11593D;
 background-color: #BEC04D;
}

#divexample {
  color: #0000FF;
  background-color: #FFFF00;
}

.spanstyle {
  color: #F6A708
}
